<h1><%= @user.get_name %></h1>
<h1><%= gravatar_for(@user) %></h1>

<% if user_signed_in? %>
  <p><%= link_to "Edit information", edit_user_registration_path %></p>
<% end %>

<p><%= link_to "Go back", root_path %></p>

<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
