<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>Đã xảy ra <%= @post.errors.count %> lỗi:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Tiêu đề' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Danh mục' %><br>
    <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, prompt: "Chọn danh mục" %>
  </div>
  <div class="field">
    <%= f.label 'Hình ảnh' %>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
