<div class="post">
  <div class="picture">
    <%= link_to image_tag(post.picture.url), post %>
  </div>
  <div class="text">
    <h1><%= link_to post.title, post %></h1>
    <p>
      Đăng bởi:
      <%= link_to post.user.get_name, post.user %>
      vào
      <%= link_to post.get_category, posts_path(category: post.category_id) %>
    </p>
    <p>
      <%= time_ago_in_words(post.created_at) %> trước
    </p>
    <div class="admin-links">
    </div>
    <div class="likes">
      <span><%= link_to post.get_upvotes.size.to_s + "👍", like_post_path(post), method: :put %></span>
      <span><%= link_to post.get_downvotes.size.to_s + "🖕", dislike_post_path(post), method: :put %></span>
      <span><%= link_to post.comments.count.to_s + "🗨", post_path(post) + "#comment-title" %></span>
    </div>
  </div>
</div>
