<div class="show-wrapper">
  <h1><%= @post.title %></h1>
  <p>
    Đăng bởi: <%= link_to @post.user.get_name, @post.user %>,
    <%= time_ago_in_words(@post.created_at) %> trước
    <% if user_signed_in? && current_user == @post.user %>
      |
      <span><%= link_to 'Sửa', edit_post_path(@post) %></span>
      <span><%= link_to 'Xóa', @post, method: :delete, data: { confirm: 'Chắc chưa?' } %></span>
    <% end %>
  </p>
  <div class="picture">
    <%= image_tag(@post.picture.url) %>
  </div>
</div>
